:root {
  --primary: rgb(0, 77, 4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: var(--primary);
  color: red;
  /* min-height: 2000px; */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
  background-color: rgba(0, 77, 4, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar a img {
  border-radius: 50%;
}

.navbar-nav a {
  display: inline-block;
  color: white;
  margin: 0.7rem;
  transition: 0.1s linear;
}

.navbar-nav a:hover {
  color: aqua;
}

.navbar-nav a::after {
  content: "";
  display: block;
  bottom: 0.5rem;
  border-bottom: 0.1rem solid aqua;
  transform: scaleX(0);
  transition: 0.1s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-nav a img {
  display: none;
}

#hamburger-menu {
  display: none;
}

/* home start */
.home {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home img {
  margin-top: 7rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
  align-items: center;
}

.home h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  font-weight: 200;
  text-shadow: 2px 2px var(--primary);
}

.home p {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--primary);
  font-style: italic;
  background-color: white;
  padding: 0.2rem 5rem;
  border-radius: 20px;
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

.home a {
  color: var(--primary);
  background-color: white;
  padding: 0.2rem 1.2rem;
  border-radius: 10px;
}

.home a:hover {
  color: white;
  background-color: var(--primary);
}
/* home end */

@media (max-width: 600px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block;
    color: white;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transform: 0.5s;
    transition: 0.6s linear;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  .navbar .navbar-nav a:hover {
    color: aqua;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav a img {
    display: inline-block;
    border-radius: 0;
  }
  .home img {
    margin-top: 14rem;
    width: 200px;
  }
}
