:root {
  --primary: rgb(0, 77, 4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  color: red;
  min-height: 2000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
  background-color: rgba(0, 77, 4, 0.8);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(1, 65, 4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar a img {
  border-radius: 50%;
}

.navbar-nav a {
  display: inline-block;
  color: white;
  font-weight: 300;
  margin: 0.7rem;
  transition: 0.1s linear;
}

.navbar-nav a:hover {
  color: aqua;
}

.navbar-nav a::after {
  content: "";
  display: block;
  bottom: 0.5rem;
  border-bottom: 0.1rem solid aqua;
  transform: scaleX(0);
  transition: 0.1s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-nav a img {
  display: none;
}

#hamburger-menu {
  display: none;
}

/* home start */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  padding-top: 4rem;
  text-align: center;
  box-sizing: border-box;
}

.section1 {
  background-color: var(--primary);
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(1, 63, 4);
  height: 75vh;
  width: 70%;
  position: relative;
}

.section1 .container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
}

.home img {
  border-radius: 50%;
  box-shadow: 1px 1px var(--primary);
  margin-top: 7rem;
  margin-left: 3rem;
}

.section1 .content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  align-items: center;
}

.home h1 {
  margin-top: 8rem;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-weight: 200;
  text-shadow: 2px 2px var(--primary);
}

.home p {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--primary);
  font-style: italic;
  background-color: white;
  padding: 0.2rem 5rem;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 4rem;
}

.home a {
  font-size: 1.6rem;
  color: white;
  background-color: var(--primary);
  padding: 0.1rem 1.2rem;
  border-radius: 10px;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.home a:hover {
  color: var(--primary);
  background-color: white;
}
/* home end */
@media (min-width: 901px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 75%;
  }

  .home img {
    width: 150px;
    margin-top: 4rem;
  }

  .home h1 {
    margin-top: 7rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }

  .home p {
    font-size: 1.2rem;
    padding: 0.1rem 2rem;
  }

  .home a {
    font-size: 1.3rem;
    bottom: 1.3rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block;
    color: white;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transform: 0.5s;
    transition: 0.6s linear;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  .navbar .navbar-nav a:hover {
    color: aqua;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav a img {
    display: inline-block;
    border-radius: 0;
  }

  .section1 .container {
    height: 50%;
    width: 100%;
  }

  .home img {
    margin-top: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }

  .section1 .content {
    position: absolute;
    top: 50%;
    right: 0;
    height: 50%;
    width: 100%;
    align-items: center;
  }

  .section1 .content h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .home p {
    padding: 0.2rem 2rem;
    margin-bottom: 10rem;
  }
}
